.Main-Heading,.Sub-Main-Heading,.sub-heading-to-H2,.Paragraph-Heading,.Heading-to-Paragraph
{
	font-family: maven-pro-n4, sans-serif;
}

#u6220-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u6190-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7648-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7717-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u6183-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u6197-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u6161-4,#u6173-4,#u7417-4,#u7418-4,#u7290-4,#u7291-4,#u7333-6,#u7334-4,#u6114-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u6128-4,#u7466-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7467-4,#u7661-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7662-4,#u7681-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7682-4,#u7729-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7730-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7731-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u7732-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u6245-3,#u6166-3,#u6235-3,#u6226-3,#u6177-3,#u6112-3
{
	font-family: maven-pro-n4, sans-serif;
}

