#u82
{
	border-style: none;
	border-color: transparent;
	background-color: #545454;
	position: relative;
}

#u7390-4
{
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	position: relative;
}

#u7390
{
	font-size: 30px;
}

#u3660
{
	border-style: none;
	border-color: transparent;
	background-color: #3C3C3C;
	position: relative;
}

#u3661-4
{
	font-size: 12px;
	color: #B3B3B3;
	position: relative;
}

#u82_align_to_page,#u3660_align_to_page,#u3663-3
{
	position: relative;
}

